.competitive-programming-journey {
  padding: 50px;
  background-color: #f4f4f9;
  color: #333;
  transition: background-color 0.5s ease;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .competitive-programming-journey {
  background-color: #333; 
  color: #ddd;
}

.competitive-programming-journey h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
}

.platforms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.platform {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease; 
}

.platform:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.dark-mode .platform {
  background-color: #333; 
  border: 1px solid #555; 
}

.dark-mode .platform:hover {
  background-color: #444;
}

.platform img {
  width: 50px; 
  height: auto;
}

.platform h3 {
  margin: 10px 0;
}