

.experience {
  padding: 50px;
  background-color: #f4f4f9;
  color: #333;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 1;
}

.dark-mode .experience {
  background-color: #444;
  color: #ddd;
}

.experience-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: left; 
  display: flex;
  align-items: center; 
}

.experience-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.dark-mode .experience-item {
  background-color: #333; 
  border: 1px solid #555; 
}

.dark-mode .experience-item:hover {
  background-color: #a777e3; 
}

.experience-item h3 {
  margin: 0 0 10px;
}

.experience-item p {
  margin: 5px 0;
}

.company-logo {
  width: 50px; 
  height: auto;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.company-logo:hover {
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  .experience {
    padding: 30px; 
  }

  .experience-item {
    padding: 15px; 
    flex-direction: column; 
    align-items: flex-start;
  }

  .company-logo {
    width: 40px; 
    margin-bottom: 10px;
    margin-right: 0; 
  }
}
